.container
  #flash
    - if notice.present?
      = render partial: "shared/notice_banner"

  .row.mb-5
    .col-lg-12
      .float-right

        = link_to 'Ajouter un flux', new_feed_url,
                                     remote: true,
                                     id: 'new_feed',
                                     class: 'btn btn-primary'
      #form_feed



  .row
    #render_feed
    - @feeds.each do |feed|
      = render 'feed', feed: feed
